.rep
  %h2 お気に入り一覧
  .productLists
    - current_user.favorites.each do |favorite|
      .productList
        = link_to "#" do
          %figure.productList--img
            = image_tag 'a007.png'
            -# = image_tag asset_path(item.images[0].content)
          .productList--body
            %h3.name
              = favorite.item.name
            .details
              %ul
                %li= favorite.item.price
                %li
                  %i.fa.fa-star.likeIcon
                  0
              %p (税込)