.wrapper
  .wrapper__content

    .wrapper__content__sidetab
      %h4 出品する
      %h4 出品した商品-出品中
      %h4 出品した商品-売却済み
      %h4 購入した商品-取引中
      %h4 購入した商品-過去の取引
      %h3設定
      %h4 本人情報
      %h4 メール/パスワード
      %h4 クレジットカード登録/変更
      %h4 ログアウト

    .wrapper__content__maintab
      .wrapper__content__maintab__user
        .wrapper__content__maintab__user__top
          .wrapper__content__maintab__user__top__icon
            = image_tag 'member_photo_noimage_thumb2.png', size: "60x60", class: 'icon'
          .wrapper__content__maintab__user__top__name
            = current_user.nickname
      .wrapper__content__maintab__head
        .wrapper__content__maintab__head__title
          購入した商品
        .wrapper__content__maintab__head__item-list