.subfooter
  .subfooter__logo
    = link_to root_path, class: "subfooter__logo__link" do
      = image_tag 'logo-white.png', class:"subfooter__logo__link__img"
  %p.subfooter__copy-light
    ©︎FURIMA
