.breadCrumbs {
  width: 100%;
  border-top: 1px solid #eee;
  box-shadow: 0 3px 3px 0 rgba(0,0,0,0.16);
  position: relative;
  padding: 0 60px;
  ul{
    padding: 17px 0 16px;
    width: 100%;
    max-width: 1040px;
    font-size: 14px;
    margin: 0 auto;
    li{
      padding: 0 10px 0 0;
      float: left;
    }
    a{
      color:#333333;
    }
    a:hover{
      color:  #3CCACE;
    }
  }
  ul:after {
    display: block;
    content: "";
    clear: both;
  }  
}