.body {
  font-family: "Source Sans Pro", Helvetica, Arial, 游ゴシック体, YuGothic, メイリオ, Meiryo, sans-serif;
  margin-right: auto;
  margin-left : auto;
  height: 100%;
  width: 100%;
}

img{
  height: 100%;
  width: 100%;
}

* {
  box-sizing: border-box;
}
