%header.pcHeader
  .headerInner
    .mainHeader
      %h1.icon
        = link_to image_tag'logo.png',class:"logo"
      .searchBox
        = form_with url: root_path do |f| 
          .searchBox--input 
            = f.text_field :name, class: 'searchBox--input', placeholder: 'キーワードから探す'
            %button{type: "submit", class:'searchBox--input-icon'}
              .box_search-icon
                = link_to image_tag'icon-search 1.png',class:"serch-icon"
    .nav
      %ul.listsLeft
        %li.listsLeft__item--first
          %a#catBtn{:href => "#"} カテゴリー
          .tree.displayNone
            %ul.categoryTree
              %li.categoryTree--item
                %a#1{:href => "#"} レディース
              %li.categoryTree--item
                %a#2{:href => "#"} メンズ
              %li.categoryTree--item
                %a#3{:href => "#"} ベビー・キッズ
              %li.categoryTree--item
                %a#4{:href => "#"} インテリア・住まい・小物
              %li.categoryTree--item
                %a#5{:href => "#"} 本・音楽・ゲーム
              %li.categoryTree--item
                %a#6{:href => "#"} おもちゃ・ホビー・グッズ
              %li.categoryTree--item
                %a#7{:href => "#"} コスメ・香水・美容
              %li.categoryTree--item
                %a#8{:href => "#"} 家電・スマホ・カメラ
              %li.categoryTree--item
                %a#9{:href => "#"} スポーツ・レジャー
              %li.categoryTree--item
                %a#10{:href => "#"} ハンドメイド
              %li.categoryTree--item
                %a#11{:href => "#"} チケット
              %li.categoryTree--item
                %a#12{:href => "#"} 自動車・オートバイ
              %li.categoryTree--item
                %a#13{:href => "#"} その他
        %li.listsLeft__item
          %a#brandBtn{:href => "#"} ブランド
          %ul.brandsPulldown.displayNone
      %ul.listsRight
        %li.listsRight__item.listsRight__item--login
          %a{:href => "#"} ログイン
        %li.listsRight__item.listsRight__item--new
          %a{:href => "#"} 新規会員登録
