%nav.breadCrumbs
  %ul
    %li
      %a{:href => "/"} FURIMA
    %li
      %i.fa.fa-angle-right
    %li
      %a{:href => "#"} ベビー・キッズ
    %li
      %i.fa.fa-angle-right
    %li
      %a{:href => "#"} ベビー服(男の子用)  ~95cm
    %li
      %i.fa.fa-angle-right
    %li
      %a{:href => "#"} アウター
    %li
      %i.fa.fa-angle-right
    %li
      %p ee
