%nav.breadCrumbs
  %ul
    %li
      = link_to "FURIMA"
    %li
      %i.fa.fa-angle-right
    %li
      = link_to "ベビー・キッズ"
    %li
      %i.fa.fa-angle-right
    %li
      = link_to "ベビー服(男の子用)  ~95cm"
    %li
      %i.fa.fa-angle-right
    %li
      = link_to "アウター"
    %li
      %i.fa.fa-angle-right
    %li
      %p ee
