
.search
  - breadcrumb :search_items, @user
  = breadcrumbs separator: " &rsaquo; ", class: "breadcrumbs"

  .search__header
    = render "header"

  .search__content
    .search__content__right
      .search__content__right__title
        .search__content__right__title__name
          検索一覧

      .search-items
        .search-items__content
          = render @items
          -# - @items.each do |item|
          -#   .item-boxes
          -#     = link_to item_path(item.id) do
          -#       .item-boxes__img
          -#         = image_tag item.images.first.src.url, class: "item-boxes__img__photo"
          -#           - if item.buyer_id.present?
          -#           .item-boxes__img__badge
          -#             .item-boxes__img__badge__inner
          -#               SOLD
          -#       .item-boxes__body
          -#         %h3.item-boxes__body__name
          -#           = item.name
          -#         .item-boxes__body__details
          -#           %ul
          -#             %li
          -#               = item.price
          -#               = "円"
          -#             %li
          -#               %i.fa.fa-star.likeIcon
          -#               0
          -#           %p (税込)

  .search__footer
    = render "footer"
