.headerTop_inner
  .headerTop_main
    %h1.icon
      = link_to image_tag('logo.png')
    .box

  .headerbottom
    %ul.left
      %li.leftitem
      カテゴリー
      %le.leftitem-b
      ブランド
    %ul.raght 
      %li.rightitem
      ログイン
      %le.rightitem-b
      新規会員登録
    