.main
  %section.visual
    .content
      %h2.content_sub
        %br 人生を変えるフリマアプリ
      %p.content_text
        FURIMAはだれでもかんたんに出品・購入できる
        %br フリマアプリです
      .content_btn
        = link_to image_tag ''
