.rep {
  height: 900px;
  width: 100vw;
  border-top: solid 1px black;
  background-color: #f5f5f5;
  font-family: "Source Sans Pro", Helvetica, Arial, "游ゴシック体", "YuGothic", "メイリオ", "Meiryo", sans-serif;

  &__title {
    display: flex;
    justify-content: center;
    margin-top: 20px;

    &__name {
      line-height: 50px;
      width: 100%;
      border-radius: 50px;
      width: 300px;
      font-size: 20px;
      font-weight: bolder;
      text-align: center;
      color: #fff;
      background-color: #3CCACE;
    }
  }

  .productLists {
    display: flex;
    overflow-x: scroll;
    justify-content: center;


    .productList {
      width: calc(100% / 5);
      margin-right: 30px;


      a {
        display: block;
        margin: 24px 0 8px;
        color: #3ccace;
        text-decoration: none;
        font-weight: bold;
        font-size: 22px;
        position: relative;
      }
      &__img {
        width: 220px;
        height: 150px;
        position: relative;
        overflow: hidden;
        margin: 0;
        z-index: auto;
        background-color: #fff;
      }
      &__body {
        background-color: white;
        color: #333;
        padding: 16px;
        .name {
          color: #333;
          overflow: hidden;
          line-height: 1.5;
          font-size: 16px;
          text-align: left;
        }
        .details {
          font-size: 16px;
          ul {
            display: flex;
            align-items: center;
            justify-content: space-between;
          }
          p {
            font-size: 10px;
            text-align: left;
          }
        }
      }
    }
  }
}